<!DOCTYPE html>
<html>
<head>
    <title>WAI-ARIA role button</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
    <!-- button (role) - Widget Roles -->
    <!-- When using HTML, use the <button> element. It is recommended that authors not re-purpose other elements to create buttons. -->
    <!-- An input that allows for user-triggered actions when clicked or pressed.  -->
    <!-- Supported States and Properties:   
        aria-expanded
        aria-pressed -->

    <!-- Related: link -->

    <!-- toggle button  -->

    <h1>ARIA button role Example</h1>
    <div class="component buttonComponent" id="buttonToggleComponent">
        <div role="button" class="btn toggleBtn" id="toggleButton" tabindex="0" aria-pressed="false">Toggle button</div>
    </div>

    <!-- button -->
    <div class="component buttonComponent" id="buttonComponent">
        <div role="button" class="btn" id="button" tabindex="0">Show alert</div>
    </div>

    <script type="text/javascript" src="../scripts/role-button.js"></script>
</body>
</html>