<!DOCTYPE html>
<html>
<head>
    <title>WAI-ARIA</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
    <!-- alertdialog (role) -->
    <!-- Alert dialogs are used to convey messages to alert the user. The alertdialog role goes on the node containing both the alert message and the rest of the dialog. Content authors should make alert dialogs modal by ensuring that, while the alertdialog is shown, keyboard and mouse interactions only operate within the dialog. -->

    <!-- Unlike alert, alertdialog can receive a response from the user. For example, to confirm that the user understands the alert being generated. When the alert dialog is displayed, authors should set focus to an active element within the alert dialog, such as a form edit field or an OK button. The user agent should fire a system alert event through the accessibility API when the alert is created, provided one is specified by the intended accessibility API. -->

    <!-- Authors should use aria-describedby on an alertdialog to reference the alert message element in the dialog. If they do not, an assistive technology can resort to its internal recovery mechanism to determine the contents of the alert message. -->
    
    <p>Click on the button and alertdialog will appear in 5 sec</p>
    <div class="component" id="alertComponent">
        <p>Alertdialog will appear in 5 seconds</p>
        <button class="btn" id="startTimer">Start Timer</button>
    </div>

    <div class="modal hidden" id="modalWindow">
        
    </div>
    <div class="modalOverlay hidden" id="modalOverlay"></div>
    
    <script type="text/javascript" src="../scripts/role-alertdialog.js"></script>

</body>
</html>