<!DOCTYPE html>
<html>
<head>
    <title>WAI-ARIA</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
    <!-- grid (role) - Widget Roles -->
    <!-- A grid is an interactive control which contains cells of tabular data arranged in rows and columns, like a table. -->
    <!-- Grids do not necessarily imply presentation. The grid construct describes relationships between data such that it may be used for different presentations. Grids allow the user to move focus between cells using two dimensional navigation. For example, grid might be used as the invisible data model (hidden with CSS but still operable by assistive technologies) for a presentational chart. -->
    <!-- Required Owned Elements:   
        row
        rowgroup → row -->

    <!-- Supported States and Properties:   
        aria-level
        aria-multiselectable
        aria-readonly -->
    
    <h1>ARIA grid role Example</h1>

    <div class="component" id="gridComponent">
        <h2>Simple list of links</h2>
        
    </div>
    <script type="text/javascript" src="../scripts/role-grid.js"></script>

</body>
</html>