<!DOCTYPE html>
<html>
<head>
    <title>WAI-ARIA tooltip role</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
    <!-- tooltip (role) - Widget Roles -->

    <h1>ARIA tooltip role Example</h1>
    <div class="component tooltipComponent">
        <div class="tooltip-example">
            <p>Demonstrations of tooltip usage are prevalent on web pages. Many graphical web browsers display the title attribute of an <span aria-describedby="tooltip1" class="tooltip-container" tabindex="0">HTML<span class="tooltip" id="tooltip1" role="tooltip" aria-hidden="true"> Hypertext Markup Language</span></span> element as a tooltip when a user hovers the pointer over that element.</p>
        </div>
    </div>

    <script type="text/javascript" src="../scripts/role-tooltip.js"></script>
</body>
</html>