<!DOCTYPE html>
<html>
<head>
    <title>WAI-ARIA</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
    <!-- alert (role) -->
    <!-- A type of live region with important, and usually time-sensitive, information. -->
    <!-- Alerts are used to convey messages to alert the user. In the case of audio warnings this is an accessible alternative for a hearing-impaired user. The alert role goes on the node containing the alert message. -->
    
    <p>Click on the button and alert will appear in 5 sec</p>
    <div class="component" id="alertComponent">
        <p>Alert will appear in 5 seconds</p>
        <button class="btn" id="startTimer">Start Timer</button>
    </div>
    <script type="text/javascript" src="../scripts/role-alert.js"></script>

</body>
</html>