body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: #fefefe;
  color: #333;
}

h3 {
  font-weight: 600;
  color: #080e45;
}

p {
  font-weight: 400;
}

a {
  color: #080e45;
}

.u-list {
  list-style: none;
  padding: 0;
  padding-bottom: 0.25em;
}

.u-list .highlighted a {
  color: #126515;
}