* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    border: 2px solid #f39c12;
}

html, body {
    height: 100%;
    color: #373a3c;
    font-size: 100%;
    padding: 1em;
}

.btn-group .btn {
    margin: 0.5em;
}

.btn {
    border-color: #455162;
    background-color: #455162;
    color: #fff;
    padding: 0.5em 1em;
}

.btn-block {
    margin-top: 1em;
    margin-bottom: 1em;
}

.modal {
    margin: 0 auto;
    width: 50%;
    margin-top: 15%;
    padding: 1em;
    border: 1px solid #455162; 
    z-index: 100;
    background: #fff;
    position: relative;
}

.hidden {
    display: none;
}

.modalOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
}

.component {
    border: 1px solid #373a3c;
    border-radius: 0.25em;
    padding: 1em;
}

.alert {
    border: 1px solid #C83500;
    margin: 0.5em;
    padding: 0.5em;
    color: #C83500;
}

.alert .btn {
    background-color: #C83500;
}

/* role btn */
.toggleBtn[aria-pressed="true"] {
    background-color: blue;
}

/* role link */
.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/* role checkbox */
.checkbox {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid #333;
    margin-left: 10px;
    position: relative;
}

.checkbox-checked:after {
    content: "\00d7";
    position: absolute;
    top: 0;
    left: 0.25em;
}

/* role radiogroup */
[role=radio] {
    display: block;
    margin: 1em;
}

[role=radio]:before {
    content: '';
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #333;
}

[role=radio][aria-checked=true]:before {
    content: '';
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #333;
}

/* role grid */
.gr-row {
    border: 1px solid #333;
    overflow: hidden;
}

.gr-cell {
    float: left;
    padding: 0.5em 0.75em;
    border-right: 1px solid #333;
}

/* role textbox */
.textbox-input {
    width: 10em;
    line-height: 1.5em;
    border: 1px solid #333;
    padding: 0.25em;
}

.textbox-textarea {
    width: 10em;
    line-height: 1.5em;
    border: 1px solid #333;
    padding: 0.25em;
}

/* role combobox */
.combobox {
    height: 2em;
    float: left;
}

.hidden {
    display: none;
}

.listbox {
    list-style: none;
    border: 1px solid #333;

}

.listbox li {
    border-bottom: 1px solid #f2e8e8;
    padding: 0.25em;
    cursor: pointer;
}

.btn.arrow {
    height: 2em;
    background-color: white;
    color: #333;
}

/* role menubar */
.menubar-inline li {
    display: inline-block;
    list-style: none;
}

.menubar-inline li a {
    display: block;
    float: left;
    padding: 0.5em 1em;
}

/* role listbox */
.listbox li[aria-selected='true'] {
    background-color: #3dd8eb;
}

/* progress bar */
.progressbar {
    width: 100%;
    height: 1em;
    border: 1px solid #dff0d8;
    margin-top: 1em;
}

.progressbar-inner {
    background-color: #dff0d8;
    width: 0%;
    height: 100%;
}

/* role slider */
.slider {
    width: 100%;
    height: 1em;
    border: 1px solid #dff0d8;
    position: relative;
}

.slider-handle {
    width: 0.5em;
    height: 2em;
    background-color: #f39c12;
    position: absolute;
    left: 0%;
}

.slider.is-active {
    background-color: #dff0d8;
}

/* status role */
.status {
    margin: 1em 0;
    border: 3px solid #498ae8;
    padding: 1px;
}