* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    color: #373a3c;
    font-size: 100%;
    padding: 1em;
}

.btn-group .btn {
    margin: 0.5em;
}

.btn {
    border-color: #455162;
    background-color: #455162;
    color: #fff;
    padding: 0.5em 1em;
}

.modal {
    margin: 0 auto;
    width: 50%;
    margin-top: 15%;
    padding: 1em;
    border: 1px solid #455162; 
    z-index: 100;
    background: #fff;
    position: relative;
}

.hidden {
    display: none;
}

.modalOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
}

.component {
    border: 1px solid #373a3c;
    border-radius: 0.25em;
    padding: 1em;
}

.alert {
    border: 1px solid #C83500;
    margin: 0.5em;
    padding: 0.5em;
    color: #C83500;
}

.alert .btn {
    background-color: #C83500;
}

/* role btn */
.toggleBtn[aria-pressed="true"] {
    background-color: blue;
}

/* role link */
.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/* role checkbox */
.checkbox {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid #333;
    margin-left: 10px;
    position: relative;
}

.checkbox-checked:after {
    content: "\00d7";
    position: absolute;
    top: 0;
    left: 0.25em;

}